body {
    margin: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#games {                        /* List of games I play */
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    padding-left: 0px;
}

nav {                           /* Navigation bar */
    top: 0;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

nav ul {                        /* Navigation bar */
    list-style-type: none;
    background-color: #1d1d1d;
    border-radius: 40px;
    padding: 10px 10px;
    margin: 0;
    overflow: hidden;
    display: inline-flex;
    gap: 30px;
    align-items: center;
}

nav ul li {                     /* Navigation bar */
    float: left;
}

nav ul li a {                   /* Navigation bar */
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 20px;
    transition: background 0.5s ease, color 0.3s ease;
    font-family: sans-serif;
}

nav ul li a:hover {             /* Navigation bar hover */
    background-color: #ffffff;
    color: black;
}

#active {                       /* Navigation bar active */
    background-color: rgb(255, 255, 255);
    color: black;
}


.aside_menu {
    display: flex;
    margin-left: 18vw;
    margin-right: 14vw;
}

.aside_menu li {
    list-style-type: none;
}

footer {
  background: #1d1d1d;
  padding: 20px;
  margin-top: 30px;
  font-family: sans-serif;
}

footer a {
  text-decoration: none;
  color: white
}

#title_links {
    font-size: 18px;
    padding-bottom: 10px;
}

.aside_link:hover {
    color: #a5a5a5;
}

.faq {
    display: flex;
    font-family: sans-serif;
    gap: 10vw;
    justify-content: center;
    padding-bottom: 100px;
}

details {
    justify-content: center;
    width: 250px;
    
}

summary {
    color: white;
    display: inline-block;
    font-size: 23px;
    border-radius: 20px;
    background: #1d1d1d;
    padding: 6px 9px;
    transition: background 0.5s ease, color 0.3s ease;
    margin-bottom: 8px;
    box-shadow: 0 0 0 2px #1d1d1d;
}

summary:hover {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

summary:active {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

details[open] summary {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

details[open] summary:hover {
    background-color: rgb(216, 216, 216);
    color: black;
    border-color: #1d1d1d;
    /* box-shadow: 0 0 0 2px #1d1d1d; */
}

#answer {
    background-color: #ffffff;
    display: inline-block;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
}

.table-wrapper {
    display: inline-block;
    padding: 0px;
    justify-self: center;
    border: 3px solid #1d1d1d;
    border-radius: 20px;
  }
  
  /* tabel zelf */
  table {
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  /* headers */
  th {
    background: #1d1d1d;
    color: white;
    padding: 7px 30px;
    text-align: left;
    border-right: 1px solid #fff;
  }
  
  th:last-child {
    border-right: none;
  }
  
  /* cellen */
  td {
    background: white;
    padding: 7px 30px;
    border-top: 1px solid #ccc;
  }

.center-container {
    text-align: center;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* width: 35vw; */
  margin-left: 22vw;
  margin-right: 14vw;
}
