p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#games {                        /* List of games I play */
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    padding-left: 0px;
}

nav {                           /* Navigation bar */
    top: 0;
    background-color: #1d1d1d;
    border-radius: 40px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
}

nav ul {                        /* Navigation bar */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 12px;
}

nav ul li {                     /* Navigation bar */
    float: left;
}

nav ul li a {                   /* Navigation bar */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 20px;
    transition: background 0.5s ease, color 0.3s ease;
}

nav ul li a:hover {             /* Navigation bar hover */
    background-color: #ffffff;
    color: black;
}

#active {                       /* Navigation bar active */
    background-color: rgb(255, 255, 255);
    color: black;
}


.aside_menu {
    color: white;
}

.aside_menu li {
    list-style-type: none;
}

.aside_menu li a {
    color: white;
    text-decoration: none;
}

footer {
  background: #1d1d1d;
  color: #fff;
  text-align: left;
  padding: 20px;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #fff;
}

details {
    display: block;
}

summary {
    color: white;
    display: inline-block;
    font-size: 23px;
    border-radius: 20px;
    background: #1d1d1d;
    padding: 6px 9px;
    transition: background 0.5s ease, color 0.3s ease;
    margin-bottom: 8px;
    box-shadow: 0 0 0 2px #1d1d1d;
}

summary:hover {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

summary:active {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

details[open] summary {
    background-color: white;
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

details[open] summary:hover {
    background-color: rgb(216, 216, 216);
    color: black;
    border-color: #1d1d1d;
    box-shadow: 0 0 0 2px #1d1d1d;
}

#answer {
    background-color: #1d1d1d;
    display: inline-block;
    margin: 1px 1px 1px 1px;
    color: white;
}